xcostc
Android.mk
ABOUT-NLS
INSTALL
COPYING
Makefile.in
Makefile
aclocal.m4
config.cache
config.guess
config.h
config.h-new
config.log
config.rpath
config.status*
config.sub
configure
libtool
ltconfig
ltmain.sh
missing
stamp-h
stamp-h.in
stamp.h
autom4te.cache
autom4te-2.53.cache
stamp-h1
compile
depcomp
install-sh
mkinstalldirs
py-compile
registry.*
coverage-report.txt
.deps
.libs
*~
_stdint.h
*.gir
*.typelib
Build
build
*.user
*.suo
*.ipch
*.sdf
*.opensdf
*.DS_Store
*.o
