config  xcostc
        option outside_dev 'lo'
        option inside_dev  'enp2s0'
        option start    '10'
        option end      '24'
        option download_rate    '100000'
        option upload_rate      '100000'
        option download_percent '50'
        option upload_percent   '40'
        list   'white_mac'      '4c:cc:6a:2d:0a:ce'
        list   'white_mac'      '4c:cc:6a:2d:0a:fe'
